@media (min-width: 320px) and (max-width: 480px) {
  .containerCard {
    width: 280px;
    height: auto;
    background: var(--card-background);
    border-radius: 10px;
    color: var(--card-text-color);
    color: var(--card-description-color);
  }

  .containerImage {
    height: 40%;
  }

  .containerDescription {
    height: 40%;
  }

  .containerButton {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 90px;
    height: 30px;
    color: #fff;
    font-size: 10px;
  }

  .modal {
    width: 90%;
    height: auto;
    background-color: var(--modal-background);
    transition: background-color 0.3s ease;
  }

  .h3 {
    font-size: 1.2rem;
  }

  .p {
    font-size: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .containerCard {
    width: 330px;
    height: auto;
    background: var(--card-background);
    border-radius: 10px;
    color: var(--card-text-color);
    color: var(--card-description-color);
  }

  .containerImage {
    height: 45%;
  }

  .containerDescription {
    height: 35%;
  }

  .containerButton {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 95px;
    height: 32px;
    color: #fff;
    font-size: 10px;
  }

  .modal {
    width: 80%;
    height: auto;
    background-color: var(--modal-background);
    transition: background-color 0.3s ease;
  }

  .h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .containerCard {
    width: 300px;
    height: 400px;
    background: var(--card-background);
    border-radius: 10px;
    color: var(--card-text-color);
    color: var(--card-description-color);
    flex-shrink: 0;
  }

  .containerImage {
    height: 55%;
  }

  .containerDescription {
    height: 25%;
  }

  .h5 {
    font-size: 1.2rem;
  }

  .p {
    font-size: 0.8rem;
  }

  .containerButton {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 100px;
    height: 35px;
    color: #fff;
    font-size: 10px;
  }

  .modal {
    background-color: var(--modal-background);
    transition: background-color 0.3s ease;
  }
}

@media (min-width: 1201px) {
  .containerCard {
    width: 300px;
    height: 450px;
    background: var(--card-background);
    border-radius: 10px;
    color: var(--card-text-color);
    color: var(--card-description-color);
    flex-shrink: 0;
  }

  .containerImage {
    height: 55%;
  }

  .containerDescription {
    height: 25%;
  }

  .h5 {
    font-size: 1.3rem;
  }

  .p {
    font-size: 0.9rem;
  }

  .containerButton {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 100px;
    height: 35px;
    color: #fff;
    font-size: 10px;
  }

  .modal {
    background-color: var(--modal-background);
    transition: background-color 0.3s ease;
  }
}
.containerCard {
  box-shadow: var(--container-box-shadow);
}
[data-theme="light"] .containerCard {
  --container-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.69),
    0 1px 2px rgba(0, 0, 0, 0.739);
}

[data-theme="dark"] .containerCard {
  --container-box-shadow: 0 1px 3px rgba(250, 249, 249, 0.627),
    0 1px 2px rgba(241, 236, 236, 0.709);
}
[data-theme="light"] .containerCard {
  --card-background: #ebe2e1;
  --card-text-color: #000;
  --card-description-color: #000;
}

[data-theme="dark"] .containerCard {
  --card-background: #333333;
  --card-description-color: #fff;
}

[data-theme="light"] .modal {
  --modal-background: #ebe2e1;
  --card-text-color: #000;
}

[data-theme="dark"] .modal {
  --modal-background: #333333;
  --card-text-color: #fff;
}
.button {
  background-color: #616161;
}
.button:hover {
  background-color: #616161af;
}
