.languageSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.languageButton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
}

.languageButton:hover {
  transform: scale(1.1);
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--flag-background);
}
[data-theme="light"] .flag {
  --flag-background: #12121277;
}

[data-theme="dark"] .flag {
  --flag-background: #ffffff73;
}
.p {
  font-size: 0.8rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.flag img {
  width: 100%;
  height: 100%;
}

.flag:hover {
  background: #00000021;
}
@media (min-width: 320px) and (max-width: 480px) {
  .flag {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .flag {
    width: 50px;
    height: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .flag {
    width: 50px;
    height: 40px;
  }
}
@media (min-width: 1201px) {
  .flag {
    width: 50px;
    height: 40px;
  }
}
