* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.4s ease;
}

body[data-theme='dark'] {
  background-color: #121212;
  color: #ffffff;
}

body[data-theme='light'] {
  background-color: #ffffff;
  color: #000000;
}

.containerCard[data-theme='dark'] {
  background: #000;
  border: solid 10px #fff;
}

.header[data-theme='dark'] {
  color: red;
}